<div id='user'>

</div>

<div id='content'>

</div>

<script type='application/json' id='bootstrapped_feeds'>
<%= @feeds.to_json.html_safe %>

</script>

<script>
$(document).ready(function(){
  NR.initialize();
});
</script>