<h1>Feed</h1>
<button class='refresh'>Refresh</button>
<ul>
<% _.each( entries, function(entry){ %>
  <li><h3><a href="#/feeds/<%= feed.get('id')%>/entries/<%= entry.get('id')%>" >
    <%= entry.get('title')%>
  </a></h3></li>
<% });%>
</ul>