<h1>Sign In</h1>
<form id='login_form'>
  <label>Username
  <input type="text" name="user[username]">
  </label>

  <label>Password
  <input type="text" name="user[password]">
  </label>

  <input type="submit" class="signUp" value="Sign Up">
  <input type="submit" class="login" value="Login">
</form>